In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)

df = pd.read_csv('./half_cleaned')

In [2]:
df.head()

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0002,q0004_0003,q0004_0004,q0004_0005,q0004_0006,q0005,q0007_0001,q0007_0002,q0007_0003,q0007_0004,q0007_0005,q0007_0006,q0007_0007,q0007_0008,q0007_0009,q0007_0010,q0007_0011,q0008_0001,q0008_0002,q0008_0003,q0008_0004,q0008_0005,q0008_0006,q0008_0007,q0008_0008,q0008_0009,q0008_0010,q0008_0011,q0008_0012,q0009,q0010_0001,q0010_0002,q0010_0003,q0010_0004,q0010_0005,q0010_0006,q0010_0007,q0010_0008,q0011_0001,q0011_0002,q0011_0003,q0011_0004,q0011_0005,q0012_0001,q0012_0002,q0012_0003,q0012_0004,q0012_0005,q0012_0006,q0012_0007,q0013,q0014,q0015,q0017,q0018,q0019_0001,q0019_0002,q0019_0003,q0019_0004,q0019_0005,q0019_0006,q0019_0007,q0020_0001,q0020_0002,q0020_0003,q0020_0004,q0020_0005,q0020_0006,q0021_0001,q0021_0002,q0021_0003,q0021_0004,q0022,q0024,q0025_0001,q0025_0002,q0025_0003,q0026,q0028,q0029,q0030,q0034,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight,q0004_0001_Father or father figure(s)
0,0,5/10/18 4:01,5/10/18 4:06,3,3,0,0,1,0.0,NaN,1.0,3,3,5,5,1,1,5,4,4,1,5,0,0,1,0,0,0,0,0,1,1,0,0,3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Sometimes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Read their physical body language to see if th...,Ask for a verbal confirmation of consent,Make a physical move to see how they react,Every situation is different,It isn?t always clear how to gauge someone?s i...,Not selected,Not selected,Not selected,Not selected,None of the above,No,Never married,Not selected,Not selected,No children,Gay,Hispanic,College graduate,New York,"$0-$9,999",Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026,0
1,1,5/10/18 6:30,5/10/18 6:53,3,3,0,0,0,0.0,NaN,1.0,4,5,2,3,1,3,1,5,1,4,0,0,1,0,0,0,0,0,1,1,0,0,0,5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,Rarely,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not selected,Not selected,Not selected,Not selected,Not selected,Other (please specify),Not selected,Not selected,Not selected,None of the above,No,Widowed,Not selected,"Yes, one or more children 18 or older",Not selected,Straight,White,Some college,Ohio,"$50,000-$74,999",East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120,1
2,2,5/10/18 7:02,5/10/18 7:09,4,2,0,0,0,0.0,NaN,0.0,5,5,4,3,2,5,1,3,4,3,1,0,0,0,0,0,0,0,0,1,0,0,0,6,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Not selected,1.0,0.0,0.0,0.0,Not selected,0.0,0.0,0.0,0.0,0.0,0.0,Other (please specify),NaN,A lot,No,Yes,Sometimes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not selected,Not selected,Not selected,Every situation is different,Not selected,Not selected,Not selected,Not selected,Not selected,None of the above,No,Married,Not selected,"Yes, one or more children 18 or older",Not selected,Straight,White,College graduate,Michigan,"$50,000-$74,999",East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight,0.515746,1
3,3,5/10/18 7:27,5/10/18 7:31,4,2,1,1,0,0.0,NaN,0.0,4,4,4,3,3,5,1,1,3,1,1,0,0,0,0,0,0,0,0,0,0,0,1,5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Always,It?s the right thing to do,Not selected,Not selected,Not selected,"You asked the person out, so you feel obligate...",Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,No answer,Married,Not selected,"Yes, one or more children 18 or older",Not selected,No answer,White,Some college,Indiana,"$50,000-$74,999",East North Central,Windows Desktop / Laptop,White,White,Some college,Some college,65 and up,Has children,No answer,0.600640,1
4,4,5/10/18 7:35,5/10/18 7:42,4,4,0,1,0,0.0,NaN,1.0,5,4,1,2,2,4,1,5,3,2,4,0,1,0,0,0,0,0,0,0,0,0,0,6,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Not selected,0.0,NaN,1.0,0.0,Not selected,0.0,0.0,0.0,0.0,0.0,1.0,Not selected,NaN,A lot,Yes,No,Always,Not selected,Not selected,Not selected,"Societal expectations, even though you don?t a...",Not selected,Not selected,Not selected,Not selected,Ask for a verbal confirmation of consent,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,Not selected,None of the above,No,Never married,Not selected,Not selected,No children,Straight,White,College graduate,Ohio,"$50,000-$74,999",East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,No children,Straight,1.033400,0

In [3]:
df.isnull().sum()

Unnamed: 0                                  0
StartDate                                   0
EndDate                                     0
q0001                                       0
q0002                                       0
q0004_0002                                  0
q0004_0003                                  0
q0004_0004                                  0
q0004_0005                                  0
q0004_0006                               1615
q0005                                      13
q0007_0001                                  0
q0007_0002                                  0
q0007_0003                                  0
q0007_0004                                  0
q0007_0005                                  0
q0007_0006                                  0
q0007_0007                                  0
q0007_0008                                  0
q0007_0009                                  0
q0007_0010                                  0
q0007_0011                                  0
q0008_0001                                  0
q0008_0002                                  0
q0008_0003                                  0
q0008_0004                                  0
q0008_0005                                  0
q0008_0006                                  0
q0008_0007                                  0
q0008_0008                                  0
                                         ...
q0020_0002                                  0
q0020_0003                                  0
q0020_0004                                  0
q0020_0005                                  0
q0020_0006                                  0
q0021_0001                                  0
q0021_0002                                  0
q0021_0003                                  0
q0021_0004                                  0
q0022                                       0
q0024                                       0
q0025_0001                                  0
q0025_0002                                  0
q0025_0003                                  0
q0026                                       0
q0028                                       0
q0029                                       0
q0030                                       0
q0034                                       2
q0035                                      20
q0036                                       2
race2                                       0
racethn4                                    0
educ3                                       0
educ4                                       0
age3                                        0
kids                                        9
orientation                                 0
weight                                      0
q0004_0001_Father or father figure(s)       0
Length: 98, dtype: int64

In [4]:
df.q0014.value_counts()

A lot             432
Some              225
Nothing at all    137
Only a little      85
No answer           1
Name: q0014, dtype: int64

In [5]:
df['q0014'] = df['q0014'].map({'A lot':4, "Some":3, 'Nothing at all':2, 'Only a little':1, 'No Answer':0})

In [6]:
df['q0014'].value_counts()

4.0    432
3.0    225
2.0    137
1.0     85
Name: q0014, dtype: int64

In [7]:
df['q0014'].head(15)

0     NaN
1     NaN
2     4.0
3     NaN
4     4.0
5     1.0
6     2.0
7     NaN
8     3.0
9     3.0
10    3.0
11    NaN
12    NaN
13    2.0
14    NaN
Name: q0014, dtype: float64

In [8]:
df['q0014'].isnull().sum()

736

In [9]:
df['q0015'] = df['q0015'].map({'Yes':1, 'No':0})

In [10]:
df['q0015'].head()

0    NaN
1    NaN
2    0.0
3    NaN
4    1.0
Name: q0015, dtype: float64

In [11]:
df['q0015'].isnull().sum()

879

In [12]:
df['q0017'].value_counts()

Yes          1014
No            570
No answer      31
Name: q0017, dtype: int64

In [13]:
df['q0017'] = df['q0017'].map({'Yes':1, 'No':0})

In [14]:
df['q0017'].value_counts()

1.0    1014
0.0     570
Name: q0017, dtype: int64

#### How often do you try to be the one who pays when on a date?

In [15]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

In [16]:
df['q0018'].value_counts()

Always       794
Often        457
Sometimes    224
Never         75
No answer     41
Rarely        24
Name: q0018, dtype: int64

In [17]:
df['q0018'] = label_encoder.fit_transform(df['q0018'])

In [18]:
df['q0018'].value_counts()

0    794
3    457
5    224
1     75
2     41
4     24
Name: q0018, dtype: int64

In [19]:
df['q0018'] = df['q0018'].map({0:5, 3:4, 5:3, 1:2, 2:1, 4:0})

In [20]:
df['q0018'].value_counts()

5    794
4    457
3    224
2     75
1     41
0     24
Name: q0018, dtype: int64

In [21]:
df.head(3)

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0002,q0004_0003,q0004_0004,q0004_0005,q0004_0006,q0005,q0007_0001,q0007_0002,q0007_0003,q0007_0004,q0007_0005,q0007_0006,q0007_0007,q0007_0008,q0007_0009,q0007_0010,q0007_0011,q0008_0001,q0008_0002,q0008_0003,q0008_0004,q0008_0005,q0008_0006,q0008_0007,q0008_0008,q0008_0009,q0008_0010,q0008_0011,q0008_0012,q0009,q0010_0001,q0010_0002,q0010_0003,q0010_0004,q0010_0005,q0010_0006,q0010_0007,q0010_0008,q0011_0001,q0011_0002,q0011_0003,q0011_0004,q0011_0005,q0012_0001,q0012_0002,q0012_0003,q0012_0004,q0012_0005,q0012_0006,q0012_0007,q0013,q0014,q0015,q0017,q0018,q0019_0001,q0019_0002,q0019_0003,q0019_0004,q0019_0005,q0019_0006,q0019_0007,q0020_0001,q0020_0002,q0020_0003,q0020_0004,q0020_0005,q0020_0006,q0021_0001,q0021_0002,q0021_0003,q0021_0004,q0022,q0024,q0025_0001,q0025_0002,q0025_0003,q0026,q0028,q0029,q0030,q0034,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight,q0004_0001_Father or father figure(s)
0,0,5/10/18 4:01,5/10/18 4:06,3,3,0,0,1,0.0,NaN,1.0,3,3,5,5,1,1,5,4,4,1,5,0,0,1,0,0,0,0,0,1,1,0,0,3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Read their physical body language to see if th...,Ask for a verbal confirmation of consent,Make a physical move to see how they react,Every situation is different,It isn?t always clear how to gauge someone?s i...,Not selected,Not selected,Not selected,Not selected,None of the above,No,Never married,Not selected,Not selected,No children,Gay,Hispanic,College graduate,New York,"$0-$9,999",Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026,0
1,1,5/10/18 6:30,5/10/18 6:53,3,3,0,0,0,0.0,NaN,1.0,4,5,2,3,1,3,1,5,1,4,0,0,1,0,0,0,0,0,1,1,0,0,0,5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not selected,Not selected,Not selected,Not selected,Not selected,Other (please specify),Not selected,Not selected,Not selected,None of the above,No,Widowed,Not selected,"Yes, one or more children 18 or older",Not selected,Straight,White,Some college,Ohio,"$50,000-$74,999",East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120,1
2,2,5/10/18 7:02,5/10/18 7:09,4,2,0,0,0,0.0,NaN,0.0,5,5,4,3,2,5,1,3,4,3,1,0,0,0,0,0,0,0,0,1,0,0,0,6,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Not selected,1.0,0.0,0.0,0.0,Not selected,0.0,0.0,0.0,0.0,0.0,0.0,Other (please specify),NaN,4.0,0.0,1.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not selected,Not selected,Not selected,Every situation is different,Not selected,Not selected,Not selected,Not selected,Not selected,None of the above,No,Married,Not selected,"Yes, one or more children 18 or older",Not selected,Straight,White,College graduate,Michigan,"$50,000-$74,999",East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight,0.515746,1

In [22]:
#### What is the reason you pay when on a date?

In [23]:
#its the right thing to do

In [24]:
df['q0019_0001'].value_counts()

It?s the right thing to do    809
Not selected                  442
Name: q0019_0001, dtype: int64

In [25]:
df['q0019_0001'] = df['q0019_0001'].map({'It?s the right thing to do':1, 'Not selected':0})

In [26]:
df['q0019_0001'].value_counts()

1.0    809
0.0    442
Name: q0019_0001, dtype: int64

In [27]:
#you make more money than your date

In [28]:
df['q0019_0002'].value_counts()

Not selected                          1060
You make more money than your date     191
Name: q0019_0002, dtype: int64

In [29]:
df['q0019_0002'] = df['q0019_0002'].map({'You make more money than your date':1, 'Not selected':0})

In [30]:
df['q0019_0002'].value_counts()

0.0    1060
1.0     191
Name: q0019_0002, dtype: int64

In [31]:
#you feel good about being the one who pays

In [32]:
df['q0019_0003'].value_counts()

Not selected                                  805
You feel good about being the one who pays    446
Name: q0019_0003, dtype: int64

In [33]:
df['q0019_0003'] = df['q0019_0003'].map({'You feel good about being the one who pays':1, 'Not selected':0})

In [34]:
df['q0019_0003'].value_counts()

0.0    805
1.0    446
Name: q0019_0003, dtype: int64

In [35]:
#Societal expectations, even though you don't always think you should have to pay

In [36]:
df['q0019_0004'].value_counts()

Not selected                                                                        898
Societal expectations, even though you don?t always think you should have to pay    353
Name: q0019_0004, dtype: int64

In [37]:
df['q0019_0004'] = df['q0019_0004'].map({'Societal expectations, even though you don?t always think you should have to pay':1, 'Not selected':0})

In [38]:
df['q0019_0004'].value_counts()

0.0    898
1.0    353
Name: q0019_0004, dtype: int64

In [39]:
#You asked the person out, so you should feel obligated to pay

In [40]:
df['q0019_0005'].value_counts()

You asked the person out, so you feel obligated to pay    668
Not selected                                              583
Name: q0019_0005, dtype: int64

In [41]:
df['q0019_0005'] = df['q0019_0005'].map({'You asked the person out, so you feel obligated to pay':1, 'Not selected':0})

In [42]:
df['q0019_0005'].value_counts()

1.0    668
0.0    583
Name: q0019_0005, dtype: int64

In [43]:
#You try to pay to see if the other person will offer to share in the cost

In [44]:
df['q0019_0006'].value_counts()

Not selected                                                                 1180
You try to pay to see if the other person will offer to share in the cost      71
Name: q0019_0006, dtype: int64

In [45]:
df['q0019_0006'] = df['q0019_0006'].map({'You try to pay to see if the other person will offer to share in the cost':1, 'Not selected':0})

In [46]:
df['q0019_0006'].value_counts()

0.0    1180
1.0      71
Name: q0019_0006, dtype: int64

In [47]:
#other - fill in the blank

In [48]:
df['q0019_0007'].value_counts()

Not selected              1134
Other (please specify)     117
Name: q0019_0007, dtype: int64

In [49]:
df['q0019_0007'] = df['q0019_0007'].map({'Other (please specify)':1, 'Not selected':0})

In [50]:
df['q0019_0007'].value_counts()

0.0    1134
1.0     117
Name: q0019_0007, dtype: int64

In [51]:
## When you want to be physically intmate with someone, how do you gauge their interest?

In [52]:
df['q0020_0001'].value_counts()

Not selected                                                       891
Read their physical body language to see if they are interested    724
Name: q0020_0001, dtype: int64

In [53]:
df['q0020_0001'] = df['q0020_0001'].map({'Read their physical body language to see if they are interested':1, 'Not selected':0})

In [54]:
df['q0020_0001'].value_counts()

0    891
1    724
Name: q0020_0001, dtype: int64

In [ ]:
## Ask for verbal confirmation

In [56]:
df['q0020_0002'].value_counts()

Not selected                                1155
Ask for a verbal confirmation of consent     460
Name: q0020_0002, dtype: int64

In [57]:
df['q0020_0002'] = df['q0020_0002'].map({'Ask for a verbal confirmation of consent':1, 'Not selected':0})

In [58]:
df['q0020_0002'].value_counts()

0    1155
1     460
Name: q0020_0002, dtype: int64

In [59]:
df['q0020_0003'].value_counts()

Not selected                                  1189
Make a physical move to see how they react     426
Name: q0020_0003, dtype: int64

In [60]:
df['q0020_0003'] = df['q0020_0003'].map({'Make a physical move to see how they react':1, 'Not selected':0})

In [61]:
df['q0020_0003'].value_counts()

0    1189
1     426
Name: q0020_0003, dtype: int64

In [62]:
df['q0020_0004'].value_counts()

Every situation is different    963
Not selected                    652
Name: q0020_0004, dtype: int64

In [63]:
df['q0020_0004'] = df['q0020_0004'].map({'Every situation is different':1, 'Not selected':0})

In [64]:
df['q0020_0004'].value_counts()

1    963
0    652
Name: q0020_0004, dtype: int64

In [65]:
df['q0020_0005'].value_counts()

Not selected                                             1061
It isn?t always clear how to gauge someone?s interest     554
Name: q0020_0005, dtype: int64

In [66]:
df['q0020_0005'] = df['q0020_0005'].map({'It isn?t always clear how to gauge someone?s interest':1, 'Not selected':0})

In [67]:
df['q0020_0005'].value_counts()

0    1061
1     554
Name: q0020_0005, dtype: int64

In [68]:
df['q0020_0006'].value_counts()

Not selected              1471
Other (please specify)     144
Name: q0020_0006, dtype: int64

In [69]:
df['q0020_0006'] = df['q0020_0006'].map({'Other (please specify)':1, 'Not selected':0})

In [70]:
df['q0020_0006'].value_counts()

0    1471
1     144
Name: q0020_0006, dtype: int64

In [71]:
df.head(2)

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0002,q0004_0003,q0004_0004,q0004_0005,q0004_0006,q0005,q0007_0001,q0007_0002,q0007_0003,q0007_0004,q0007_0005,q0007_0006,q0007_0007,q0007_0008,q0007_0009,q0007_0010,q0007_0011,q0008_0001,q0008_0002,q0008_0003,q0008_0004,q0008_0005,q0008_0006,q0008_0007,q0008_0008,q0008_0009,q0008_0010,q0008_0011,q0008_0012,q0009,q0010_0001,q0010_0002,q0010_0003,q0010_0004,q0010_0005,q0010_0006,q0010_0007,q0010_0008,q0011_0001,q0011_0002,q0011_0003,q0011_0004,q0011_0005,q0012_0001,q0012_0002,q0012_0003,q0012_0004,q0012_0005,q0012_0006,q0012_0007,q0013,q0014,q0015,q0017,q0018,q0019_0001,q0019_0002,q0019_0003,q0019_0004,q0019_0005,q0019_0006,q0019_0007,q0020_0001,q0020_0002,q0020_0003,q0020_0004,q0020_0005,q0020_0006,q0021_0001,q0021_0002,q0021_0003,q0021_0004,q0022,q0024,q0025_0001,q0025_0002,q0025_0003,q0026,q0028,q0029,q0030,q0034,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight,q0004_0001_Father or father figure(s)
0,0,5/10/18 4:01,5/10/18 4:06,3,3,0,0,1,0.0,NaN,1.0,3,3,5,5,1,1,5,4,4,1,5,0,0,1,0,0,0,0,0,1,1,0,0,3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,1,0,Not selected,Not selected,Not selected,None of the above,No,Never married,Not selected,Not selected,No children,Gay,Hispanic,College graduate,New York,"$0-$9,999",Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026,0
1,1,5/10/18 6:30,5/10/18 6:53,3,3,0,0,0,0.0,NaN,1.0,4,5,2,3,1,3,1,5,1,4,0,0,1,0,0,0,0,0,1,1,0,0,0,5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,1,Not selected,Not selected,Not selected,None of the above,No,Widowed,Not selected,"Yes, one or more children 18 or older",Not selected,Straight,White,Some college,Ohio,"$50,000-$74,999",East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120,1

In [72]:
df['q0021_0001'].value_counts()

Not selected                                                                 1489
Wondered whether you pushed a partner too far in a past sexual encounter.     126
Name: q0021_0001, dtype: int64

In [73]:
df['q0021_0001'] = df['q0021_0001'].map({'Wondered whether you pushed a partner too far in a past sexual encounter.':1, 'Not selected':0})

In [74]:
df['q0021_0001'].value_counts()

0    1489
1     126
Name: q0021_0001, dtype: int64

In [75]:
df['q0021_0002'].value_counts()

Not selected                                                                   1584
Talked with a friend or friends about whether you pushed a partner too far.      31
Name: q0021_0002, dtype: int64

In [76]:
df['q0021_0002'] = df['q0021_0002'].map({'Talked with a friend or friends about whether you pushed a partner too far.':1, 'Not selected':0})

In [77]:
df['q0021_0002'].value_counts()

0    1584
1      31
Name: q0021_0002, dtype: int64

In [78]:
df['q0021_0003'].value_counts()

Not selected                                                                                        1581
Contacted a past sexual partner to ask whether you went too far in any of you sexual encounters.      34
Name: q0021_0003, dtype: int64

In [79]:
df['q0021_0003'] = df['q0021_0003'].map({'Contacted a past sexual partner to ask whether you went too far in any of you sexual encounters.':1,
                                         'Not selected':0})

In [80]:
df['q0021_0003'].value_counts()

0    1581
1      34
Name: q0021_0003, dtype: int64

In [81]:
df['q0021_0004'].value_counts()

None of the above    1419
Not selected          196
Name: q0021_0004, dtype: int64

  # TARGET VARIABLE!!!!

In [82]:
df['q0022'].value_counts()

No           1442
Yes           144
No answer      29
Name: q0022, dtype: int64

In [84]:
df['target'] = df['q0022'].map({'Yes':1, 'No':0})

In [86]:
df['target'].value_counts()

0.0    1442
1.0     144
Name: target, dtype: int64

## Demographics

In [83]:
df['q0024'].value_counts()

Married          996
Never married    286
Divorced         218
Widowed           82
Separated         25
No answer          8
Name: q0024, dtype: int64

In [87]:
df['marital_status'] = df['q0024'].map({'Married':1,
                                        'Never Married':2,
                                        'Divorced':3,
                                        'Widowed':4, 
                                        'Separated':5, 
                                        'No answer':6})

In [88]:
df.marital_status.value_counts()

1.0    996
3.0    218
4.0     82
5.0     25
6.0      8
Name: marital_status, dtype: int64

In [91]:
df['q0025_0001'].value_counts()

Not selected                          1361
Yes, one or more children under 18     254
Name: q0025_0001, dtype: int64

In [94]:
df['has_kids_u18'] = df['q0025_0001'].map({'Yes, one or more children under 18':1, 'Not selected':0})

In [95]:
df['has_kids_u18'].value_counts()

0    1361
1     254
Name: has_kids_u18, dtype: int64

In [96]:
df['q0025_0002'].value_counts()

Yes, one or more children 18 or older    875
Not selected                             740
Name: q0025_0002, dtype: int64

In [97]:
df['has_kids_o18'] = df['q0025_0002'].map({'Yes, one or more children 18 or older':1, 'Not selected':0})

In [98]:
df['has_kids_o18'].value_counts()

1    875
0    740
Name: has_kids_o18, dtype: int64

In [105]:
df['q0025_0003'].value_counts()

Not selected    1074
No children      541
Name: q0025_0003, dtype: int64

In [106]:
df['no_kids'] = df['q0025_0003'].map({'No children':1, 'Not selected':0})

In [107]:
df['q0025_0003'].value_counts()

Not selected    1074
No children      541
Name: q0025_0003, dtype: int64

In [108]:
df['no_kids'].value_counts()

0    1074
1     541
Name: no_kids, dtype: int64

In [99]:
df.head(2)

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0002,q0004_0003,q0004_0004,q0004_0005,q0004_0006,q0005,q0007_0001,q0007_0002,q0007_0003,q0007_0004,q0007_0005,q0007_0006,q0007_0007,q0007_0008,q0007_0009,q0007_0010,q0007_0011,q0008_0001,q0008_0002,q0008_0003,q0008_0004,q0008_0005,q0008_0006,q0008_0007,q0008_0008,q0008_0009,q0008_0010,q0008_0011,q0008_0012,q0009,q0010_0001,q0010_0002,q0010_0003,q0010_0004,q0010_0005,q0010_0006,q0010_0007,q0010_0008,q0011_0001,q0011_0002,q0011_0003,q0011_0004,q0011_0005,q0012_0001,q0012_0002,q0012_0003,q0012_0004,q0012_0005,q0012_0006,q0012_0007,q0013,q0014,q0015,q0017,q0018,q0019_0001,q0019_0002,q0019_0003,q0019_0004,q0019_0005,q0019_0006,q0019_0007,q0020_0001,q0020_0002,q0020_0003,q0020_0004,q0020_0005,q0020_0006,q0021_0001,q0021_0002,q0021_0003,q0021_0004,q0022,q0024,q0025_0001,q0025_0002,q0025_0003,q0026,q0028,q0029,q0030,q0034,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight,q0004_0001_Father or father figure(s),target,marital_status,has_kids_u18,has_kids_o18
0,0,5/10/18 4:01,5/10/18 4:06,3,3,0,0,1,0.0,NaN,1.0,3,3,5,5,1,1,5,4,4,1,5,0,0,1,0,0,0,0,0,1,1,0,0,3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,1,0,0,0,0,None of the above,No,Never married,Not selected,Not selected,No children,Gay,Hispanic,College graduate,New York,"$0-$9,999",Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026,0,0.0,NaN,0,0
1,1,5/10/18 6:30,5/10/18 6:53,3,3,0,0,0,0.0,NaN,1.0,4,5,2,3,1,3,1,5,1,4,0,0,1,0,0,0,0,0,1,1,0,0,0,5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,1,0,0,0,None of the above,No,Widowed,Not selected,"Yes, one or more children 18 or older",Not selected,Straight,White,Some college,Ohio,"$50,000-$74,999",East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120,1,0.0,4.0,0,1

In [100]:
df['q0026'].value_counts()

Straight     1408
Gay           111
Bisexual       52
Other          31
No answer      13
Name: q0026, dtype: int64

In [103]:
df['sex_orient'] = df['q0026'].map({'Straight': 2, 'Gay':3, 'Bisexual':4, 'Other':1, 'No answer':0})

In [104]:
df['sex_orient'].value_counts()

2    1408
3     111
4      52
1      31
0      13
Name: sex_orient, dtype: int64

In [109]:
df.head(2)

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0002,q0004_0003,q0004_0004,q0004_0005,q0004_0006,q0005,q0007_0001,q0007_0002,q0007_0003,q0007_0004,q0007_0005,q0007_0006,q0007_0007,q0007_0008,q0007_0009,q0007_0010,q0007_0011,q0008_0001,q0008_0002,q0008_0003,q0008_0004,q0008_0005,q0008_0006,q0008_0007,q0008_0008,q0008_0009,q0008_0010,q0008_0011,q0008_0012,q0009,q0010_0001,q0010_0002,q0010_0003,q0010_0004,q0010_0005,q0010_0006,q0010_0007,q0010_0008,q0011_0001,q0011_0002,q0011_0003,q0011_0004,q0011_0005,q0012_0001,q0012_0002,q0012_0003,q0012_0004,q0012_0005,q0012_0006,q0012_0007,q0013,q0014,q0015,q0017,q0018,q0019_0001,q0019_0002,q0019_0003,q0019_0004,q0019_0005,q0019_0006,q0019_0007,q0020_0001,q0020_0002,q0020_0003,q0020_0004,q0020_0005,q0020_0006,q0021_0001,q0021_0002,q0021_0003,q0021_0004,q0022,q0024,q0025_0001,q0025_0002,q0025_0003,q0026,q0028,q0029,q0030,q0034,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight,q0004_0001_Father or father figure(s),target,marital_status,has_kids_u18,has_kids_o18,sex_orient,no_kids
0,0,5/10/18 4:01,5/10/18 4:06,3,3,0,0,1,0.0,NaN,1.0,3,3,5,5,1,1,5,4,4,1,5,0,0,1,0,0,0,0,0,1,1,0,0,3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,1,0,0,0,0,None of the above,No,Never married,Not selected,Not selected,No children,Gay,Hispanic,College graduate,New York,"$0-$9,999",Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026,0,0.0,NaN,0,0,3,1
1,1,5/10/18 6:30,5/10/18 6:53,3,3,0,0,0,0.0,NaN,1.0,4,5,2,3,1,3,1,5,1,4,0,0,1,0,0,0,0,0,1,1,0,0,0,5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,1,0,0,0,None of the above,No,Widowed,Not selected,"Yes, one or more children 18 or older",Not selected,Straight,White,Some college,Ohio,"$50,000-$74,999",East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120,1,0.0,4.0,0,1,2,0

In [112]:
## Are men complicit when it comes to sexual boundaries?   GRAPH!!!

df.q0021_0004.value_counts()

None of the above    1419
Not selected          196
Name: q0021_0004, dtype: int64

In [113]:
df['q0028'].value_counts()

White       1351
Other         85
Black         72
Hispanic      71
Asian         36
Name: q0028, dtype: int64

In [114]:
df['race'] = df['q0028'].map({'White':3, 'Black':2, 'Other':1, 'Hispanic':4, 'Asian':5})

In [115]:
df['race'].value_counts()

3    1351
1      85
2      72
4      71
5      36
Name: race, dtype: int64

In [116]:
df['q0029'].value_counts()

College graduate                515
Post graduate degree            482
Some college                    292
High school or G.E.D.           157
Associate's degree              148
Did not complete high school     21
Name: q0029, dtype: int64

In [119]:
df['education'] = df['q0029'].map({'College graduate': 1, 'Post graduate degree':2, 'Some college':3,
                                   'High school or G.E.D.':4, "Associate's degree":5, 
                                   'Did not complete high school':6})

In [120]:
df['education'].value_counts()

1    515
2    482
3    292
4    157
5    148
6     21
Name: education, dtype: int64

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0002,q0004_0003,q0004_0004,q0004_0005,q0004_0006,q0005,q0007_0001,q0007_0002,q0007_0003,q0007_0004,q0007_0005,q0007_0006,q0007_0007,q0007_0008,q0007_0009,q0007_0010,q0007_0011,q0008_0001,q0008_0002,q0008_0003,q0008_0004,q0008_0005,q0008_0006,q0008_0007,q0008_0008,q0008_0009,q0008_0010,q0008_0011,q0008_0012,q0009,q0010_0001,q0010_0002,q0010_0003,q0010_0004,q0010_0005,q0010_0006,q0010_0007,q0010_0008,q0011_0001,q0011_0002,q0011_0003,q0011_0004,q0011_0005,q0012_0001,q0012_0002,q0012_0003,q0012_0004,q0012_0005,q0012_0006,q0012_0007,q0013,q0014,q0015,q0017,q0018,q0019_0001,q0019_0002,q0019_0003,q0019_0004,q0019_0005,q0019_0006,q0019_0007,q0020_0001,q0020_0002,q0020_0003,q0020_0004,q0020_0005,q0020_0006,q0021_0001,q0021_0002,q0021_0003,q0021_0004,q0022,q0024,q0025_0001,q0025_0002,q0025_0003,q0026,q0028,q0029,q0030,q0034,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight,q0004_0001_Father or father figure(s),target,marital_status,has_kids_u18,has_kids_o18,sex_orient,no_kids,race,education
0,0,5/10/18 4:01,5/10/18 4:06,3,3,0,0,1,0.0,NaN,1.0,3,3,5,5,1,1,5,4,4,1,5,0,0,1,0,0,0,0,0,1,1,0,0,3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,1,0,0,0,0,None of the above,No,Never married,Not selected,Not selected,No children,Gay,Hispanic,College graduate,New York,"$0-$9,999",Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026,0,0.0,NaN,0,0,3,1,4,1
1,1,5/10/18 6:30,5/10/18 6:53,3,3,0,0,0,0.0,NaN,1.0,4,5,2,3,1,3,1,5,1,4,0,0,1,0,0,0,0,0,1,1,0,0,0,5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,1,0,0,0,None of the above,No,Widowed,Not selected,"Yes, one or more children 18 or older",Not selected,Straight,White,Some college,Ohio,"$50,000-$74,999",East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120,1,0.0,4.0,0,1,2,0,3,3
2,2,5/10/18 7:02,5/10/18 7:09,4,2,0,0,0,0.0,NaN,0.0,5,5,4,3,2,5,1,3,4,3,1,0,0,0,0,0,0,0,0,1,0,0,0,6,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Not selected,1.0,0.0,0.0,0.0,Not selected,0.0,0.0,0.0,0.0,0.0,0.0,Other (please specify),NaN,4.0,0.0,1.0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1,0,0,0,0,0,None of the above,No,Married,Not selected,"Yes, one or more children 18 or older",Not selected,Straight,White,College graduate,Michigan,"$50,000-$74,999",East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight,0.515746,1,0.0,1.0,0,1,2,0,3,1
3,3,5/10/18 7:27,5/10/18 7:31,4,2,1,1,0,0.0,NaN,0.0,4,4,4,3,3,5,1,1,3,1,1,0,0,0,0,0,0,0,0,0,0,0,1,5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0,0,0,0,0,0,0,0,Not selected,No answer,Married,Not selected,"Yes, one or more children 18 or older",Not selected,No answer,White,Some college,Indiana,"$50,000-$74,999",East North Central,Windows Desktop / Laptop,White,White,Some college,Some college,65 and up,Has children,No answer,0.600640,1,NaN,1.0,0,1,0,0,3,3
4,4,5/10/18 7:35,5/10/18 7:42,4,4,0,1,0,0.0,NaN,1.0,5,4,1,2,2,4,1,5,3,2,4,0,1,0,0,0,0,0,0,0,0,0,0,6,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Not selected,0.0,NaN,1.0,0.0,Not selected,0.0,0.0,0.0,0.0,0.0,1.0,Not selected,NaN,4.0,1.0,0.0,5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,None of the above,No,Never married,Not selected,Not selected,No children,Straight,White,College graduate,Ohio,"$50,000-$74,999",East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,No children,Straight,1.033400,0,0.0,NaN,0,0,2,1,3,1

In [121]:
df.to_csv('me_too.csv', encoding = 'UTF8')